<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart Campus{% endblock %} | Pan-Atlantic University</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

{% if user is defined and user %}
<nav class="navbar">
    <div class="nav-brand"> Smart Campus</div>
    <div class="nav-links">
        {% if user.role == "admin" %}
            <a href="/admin/dashboard">Dashboard</a>
        {% else %}
            <a href="/dashboard">Dashboard</a>
            <a href="/complaints/submit">Submit Complaint</a>
        {% endif %}
        <span class="nav-user">{{ user.full_name }}</span>
        <a href="/logout" class="btn-logout">Logout</a>
    </div>
</nav>
{% endif %}

<main class="container">
    {% block content %}{% endblock %}
</main>

<script src="/static/js/main.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>